eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8016/eureka/
server:
  port: 8770
spring:
  application:
    name: service-zuul

zuul:
  routes:
    api-a:
      pathï¼š /api-a/**
      serviceId: service-ribbon
    api-b:
      path: /api-b/**
      serviceId: service-feign